PORT=5000
MONGODB_URI=mongodb://singharshiya28_db_user:saZiMg1bY3NNV6U9@ac-tlorbju-shard-00-00.vfnfbml.mongodb.net:27017,ac-tlorbju-shard-00-01.vfnfbml.mongodb.net:27017,ac-tlorbju-shard-00-02.vfnfbml.mongodb.net:27017/?ssl=true&replicaSet=atlas-yur9u8-shard-0&authSource=admin&retryWrites=true&w=majority&appName=dataextractor
LLM_API_KEY=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
